---
import Layout from "../layouts/Layout.astro";
import ChatInterface from "../components/ChatInterface.tsx";
---

<Layout title="ELIAS - Mentor Bíblico Bautista">
  <main class="h-full w-full overflow-hidden">
    <ChatInterface client:load />
  </main>
</Layout>
